---
// src/pages/index.astro
import DividerDots from "../components/DividerDots.astro";
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import OurApproach from "../components/OurApproach.astro";
import AboutFounder from "../components/AboutFounder.astro";
import Events from "../components/Events.astro";
import Gallery from "../components/Gallery.astro";
import Donate from "../components/Donate.astro";
import ContactForm from "../components/ContactForm.astro";
import Footer from "../components/Footer.astro";
---
<Layout title="Krafty Kids">
  <Header />
  <main>
    <Hero />
    <OurApproach />   <!-- peach tint -->
    <AboutFounder />  <!-- white -->
    <Events />        <!-- peach tint -->
    <Gallery />       <!-- white -->
    <Donate />        <!-- peach tint -->
    <ContactForm />   <!-- white -->
    <Footer />        <!-- soft peach closing band is good -->
  </main>
</Layout>
